* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    display: grid;
    grid-column: 2 / 3;
    background-color: #188135;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.searchbar {
    display: grid;
}

.search {
    height: 2em;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    display: grid;
}

.search > img {
    height: 30px;
    align-self: center;
}

.accounfInfo {
    display: grid;
    justify-self: flex-end;
    grid-template-columns: 10px 200px 100px;
    column-gap: 1em;
}

.notification {
    height: 20px;
    align-self: center;
    justify-self: flex-end;
}

.accounfInfo > div {
    justify-self: flex-end;
    align-self: center;
}

.accounfInfo * p {
    color: white;
}

.profilePic {
    justify-self: flex-start;
    align-self: center;
}

.profilePic {
    height: 4em;
    border-radius: 50%;
    border: 5px solid white;
}

.greetings {
    display: grid;
    grid-template-columns: 100px 200px 100px;
}

.greetings > span {
    color: white;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.greetingEmojiBefore, .greetingEmojiAfter {
    height: 2em;
}

.greetingEmojiBefore {
    justify-self: flex-end;
    align-self: center;
}

.greetingEmojiAfter {
    justify-self: flex-start;
    align-self: center;
}

.buttons {
    margin-right: 20px;
    justify-self: flex-end;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    column-gap: 1em;
    color: white;
}

.buttons > div {
    display: grid;
    justify-self: center;
    align-self: center;
    text-align: center;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: #25423B;
    cursor: pointer;
}

.buttons > div > p {
    align-self: center;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #25423B;
    display: grid;
    grid-template-rows: 80px 300px 100px;
    row-gap: 20px;
}

.logos {
    display: grid;
    grid-template-columns: 100px 150px;
}

.logos > img {
    justify-self: center;
    align-self: center;
}

.logos > span {
    color: white;
    font-weight: 800;
    font-size: 30px;
    justify-self: flex-start;
    align-self: center;
}

.primaryLinks, .secondaryLinks {
    margin-left: 40px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 20px;
}

.primaryLinks > p, .secondaryLinks > p {
    font-size: 25px;
    color: white;
    justify-self: flex-start;
}

.primaryLinks > p:hover, .secondaryLinks > p:hover {
    cursor: pointer;
}

.secondaryLinks {
    margin-top: 20px;
}

.main-content {
    background-color: #E7F5F9;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    display: grid;
    grid-template-rows: 20px 1fr;
}

.projects > p {
    padding-left: 20px;
    padding-top: 20px;
    justify-self: flex-start;
    align-self: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.all-projects {
    display: grid;
    grid-template-columns: 400px 400px;
}

.card {
    margin: 20px;
    background-color: white;
    display: grid;
}

.project {
    padding: 20px;
    display: grid;
}

.card::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 250px;
    background: #65a30d;
    transition: 400ms ease-in-out;
    content: "";
    position: absolute;
}

.card:hover::before{
    width: 10px;
}

.project-settings {
    align-self: flex-end;
    justify-self: flex-end;
}

.project-settings > img {
    height: 20px;
}

.project-settings > img:hover {
    cursor: pointer;
}

.announcementtrending {
    margin: 20px;
    row-gap: 20px;
    display: grid;
    grid-template-rows: 240px 330px;
}

.announcementtrending * h2 {
    align-self: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.announcementtrending * div {
    background-color: white;
}

.announcementDiv {
    display: grid;
    grid-template-rows: 40px 200px;
    background-color: #16a34a;
}

.announcement {
    padding: 20px;
    display: grid;
    row-gap: 10px;
}

.announcement * h3 {
    color: blue;
    font-weight: normal;
    cursor: pointer;
}

.trendingDiv {
    display: grid;
    grid-template-rows: 40px 300px;
    background-color: #16a34a;
}

.trending {
    padding: 20px;
    display: grid;
}

.popularProfiles {
    display: grid;
    grid-template-columns: 50px 100px;
    column-gap: 10px;
}

.popularProfiles > span {
    align-self: center;
    cursor: pointer;
}

.popularProfilePic {
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(64, 105, 32);
}